html{
 background-color: white;
}

.clean-pink-1{
 color: #eo97f2;
}

.clean-purple-1{
 color: #c87eca;
}

.clean-green-1{
 color: #39a10b;
}

.clean-red-1{
 color: #f42f37;
}

.clean-pink-2{
 color: #ed84bb;
}

.clean-purple-2{
 color: #e409eb;
}

.clean-blue-1{
 color: #ed0de9;
}

.clean-blue-1{
 color: #63cb9d;
}
