html{
 background-color: black;
}

.cp{
 color: #eo97f2;
}

.cp1{
 color: #c87eca;
}

.cg{
 color: #39a10b;
}

.cr{
 color: #f42f37;
}

.cp2{
 color: #ed84bb;
}

.cp3{
 color: #e409eb;
}

.cb{
 color: #ed0de9;
}

.cb2{
 color: #63cb9d;
}
